<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}UFE:IBTR{% endblock %} : User Fatal Error : Insert Brain Then Restart </title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
		
	    {% stylesheets '@bootstrap_css' %}
	        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
	    {% endstylesheets %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper">

            <header class="page-header">
                    {% block header %}
                    <div class="page-header">
                        <h1>UFE:IBTR <small>User Fatal Error : Insert Brain Then Restart</small></h1>
                    </div>
                    {% endblock %}
            </header>
  
			{% block body %}{% endblock %}

           <aside class="sidebar">
               {% block sidebar %}{% endblock %}
           </aside>

           <div id="footer">
               {% block footer %}
               {% endblock %}
           </div>
       </section>

        {% block javascripts %}
			{% javascripts '@jquery' '@bootstrap_js' %}
    	    	<script type="text/javascript" src="{{ asset_url }}"></script>
	    	{% endjavascripts %}
		{% endblock %}
    </body>
</html>
