{#   loginForm.html.tpl #}

<div class='panel-heading'><h4>Log-in now ! Pleutres que vous êtes !</h4></div>
<div class='panel-body'>
<div id='modal_content' class='text-center'>
        {% include "loginForm.html.tpl" %}
        <button id="login-btn" type="button" class='btn btn-default'>Login</button>
</div>

<div class="text-center">
	<br/>
    <button class="btn btn-primary" onclick="setModalDatas('')">S'enregistrer</button> 
</div>
</div>


