<form id="regForm" action="/register/" method="post">
    {% csrf_token %}
	{{ form.as_p }}
	<div>
        <p>Après avoir cliqué sur <em>S'entregistrer</em> un mail de confirmation vous sera envoyé</p>
	</div>
</form>

