{#   index.html.tpl #}

{% extends 'base.html.tpl' %}
{% load staticfiles %}
{% load debug_utils %}
{% block contents %}
<pre>  {% if 'validator' in request.user.users.getGroups %} ok  {% else %} nok {% endif %}</pre>

{% for i in l %}
    <p> i </p>
{% else %}
    <p> bonjour </p>
{% endfor %}

{% endblock %}
