{% extends "FOSUserBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block fos_user_content %}

	<div id="modal_content">
		<div class="modal-header"><h4 class="modal-title" id="myModalLabel">Register new account</h4></div>
		<div class="modal-body">
			{% include "FOSUserBundle:Registration:register_content.html.twig" %}
		</div>
	</div>
{% endblock fos_user_content %}
