/*  overpassfont.org */*
	
@font-face 
{
	 src: url("/static/fonts/Overpass/Overpass-Bold.eot");
	font-family: 'Overpass';
	/* IE9 Compat Modes */*
	 src: url("/static/fonts/Overpass/Overpass-Bold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Overpass/Overpass-Bold.woff") format("woff"), url("/static/fonts/Overpass/Overpass-Bold.ttf") format("truetype"), url("/static/fonts/Overpass/Overpass-Bold.svg#Overpass-Bold") format("svg");
	/* Legacy iOS */*
	 font-style: normal;
	font-weight: 700;
	text-rendering: optimizeLegibility;
	
}

@font-face 
{
	 src: url("/static/fonts/Overpass/Overpass-Bold-Italic.eot");
	font-family: 'Overpass';
	/* IE9 Compat Modes */*
	 src: url("/static/fonts/Overpass/Overpass-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Overpass/Overpass-Bold-Italic.woff") format("woff"), url("/static/fonts/Overpass/Overpass-Bold-Italic.ttf") format("truetype"), url("/static/fonts/Overpass/Overpass-Bold-Italic.svg#Overpass-BoldItalic") format("svg");
	/* Legacy iOS */*
	 font-style: italic;
	font-weight: 700;
	text-rendering: optimizeLegibility;
	
}

@font-face 
{
	 src: url("/static/fonts/Overpass/Overpass-Regular.eot");
	font-family: 'Overpass';
	/* IE9 Compat Modes */*
	 src: url("/static/fonts/Overpass/Overpass-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Overpass/Overpass-Regular.woff") format("woff"), url("/static/fonts/Overpass/Overpass-Regular.ttf") format("truetype"), url("/static/fonts/Overpass/Overpass-Regular.svg#Overpass-Regular") format("svg");
	/* Legacy iOS */*
	 font-style: normal;
	font-weight: 600;
	
}

@font-face 
{
	 src: url("/static/fonts/Overpass/Overpass-Italic.eot");
	font-family: 'Overpass';
	/* IE9 Compat Modes */*
	 src: url("/static/fonts/Overpass/Overpass-Italic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Overpass/Overpass-Italic.woff") format("woff"), url("/static/fonts/Overpass/Overpass-Italic.ttf") format("truetype"), url("/static/fonts/Overpass/Overpass-Italic.svg#Overpass-Italic") format("svg");
	/* Legacy iOS */*
	 font-style: italic;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	
}

@font-face 
{
	 src: url("/static/fonts/Overpass/Overpass-Light.eot");
	font-family: 'Overpass';
	/* IE9 Compat Modes */*
	 src: url("/static/fonts/Overpass/Overpass-Light.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Overpass/Overpass-Light.woff") format("woff"), url("/static/fonts/Overpass/Overpass-Light.ttf") format("truetype"), url("/static/fonts/Overpass/Overpass-Light.svg#Overpass-Light") format("svg");
	/* Legacy iOS */*
	 font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	
}

@font-face 
{
	 src: url("/static/fonts/Overpass/Overpass-LightItalic.eot");
	font-family: 'Overpass';
	/* IE9 Compat Modes */*
	 src: url("/static/fonts/Overpass/Overpass-LightItalic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Overpass/Overpass-LightItalic.woff") format("woff"), url("/static/fonts/Overpass/Overpass-LightItalic.ttf") format("truetype"), url("/static/fonts/Overpass/Overpass-LightItalic.svg#Overpass-LightItalic") format("svg");
	/* Legacy iOS */*
	 font-style: italic;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	
}

@font-face 
{
	 src: url("/static/fonts/Overpass/Overpass-ExtraLight.eot");
	font-family: 'Overpass';
	/* IE9 Compat Modes */*
	 src: url("/static/fonts/Overpass/Overpass-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Overpass/Overpass-ExtraLight.woff") format("woff"), url("/static/fonts/Overpass/Overpass-ExtraLight.ttf") format("truetype"), url("/static/fonts/Overpass/Overpass-ExtraLight.svg#Overpass-ExtraLight") format("svg");
	/* Legacy iOS */*
	 font-style: normal;
	font-weight: 200;
	text-rendering: optimizeLegibility;
	
}

@font-face 
{
	 src: url("/static/fonts/Overpass/Overpass-ExtraLight-Italic.eot");
	font-family: 'Overpass';
	/* IE9 Compat Modes */*
	 src: url("/static/fonts/Overpass/Overpass-ExtraLight-Italic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Overpass/Overpass-ExtraLight-Italic.woff") format("woff"), url("/static/fonts/Overpass/Overpass-ExtraLight-Italic.ttf") format("truetype"), url("/static/fonts/Overpass/Overpass-ExtraLight-Italic.svg#Overpass-ExtraLightItalic") format("svg");
	/* Legacy iOS */*
	 font-style: italic;
	font-weight: 200;
	text-rendering: optimizeLegibility;
	
}
 

@font-face {
    font-family: "FontAwesome";
	    font-style: normal;
		    font-weight: normal;
			    src: url("/static/fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("/static/fonts/fontawesome-webfont.woff2") format("woff2"), url("/static/fonts/fontawesome-webfont.woff") format("woff"), url("/static/fonts/fontawesome-webfont.ttf") format("truetype"), url("/static/fonts/fontawesome-webfont.svg") format("svg");
				}
