.picc {
	border-color: grey;
}

.tabtext {
  text-indent:1em;
  display:inline-flex;
}

html {
	background-color:grey;
}

body {
	background-color:grey; 
	padding: 0 !important;
}

#wrapper {
	padding: 10px; 
	background-color: black; 
	border-radius: 20px; 
	border: 0;
}

#voteForm {
	text-align: center;
}

#voteForm li {
	display: inline;
}
