#picc_footer span.label {
    border-radius: 1.25em;
    color: #ffffff;
    display: inline;
    font-size: 80%;
    font-weight: bold;
    line-height: 1;
    padding: 0.3em 0.8em;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
}

#picc_footer{
    background-color: black;
}

.label-comms {
    background-color: steelblue;
}

.btn-vote 
{
    cursor: pointer;
}

.piccvote {
    display: inline;
}

