
.panel-comms * .label {
    padding: 0.5em 0.6em 0.3em;
    border-style: inset;
    border-width: 0.001em;
    border-color: black;
}
.panel-comms * .panel-heading {
    background: gray none repeat scroll 0 0;
    color: window;
}
.panel-comms * .panel {
    border: 1px solid gray;
}
.panel-comms * .panel-footer {
    border-bottom: 0.01em solid gray;
}

#commentBtnBottom {
    display: block;
    padding: 10px;
    vertical-align: super;
}

.list-group * > .panel {
    margin-bottom: -8px;
}

.list-group-item {
    border-width: 0px;
}


