
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
.table{
    border-width: 2px;
    border-color: rgba(255, 0, 0, 0.6);
    box-shadow: 0 0 5px black;
}
.no-margin{
	margin-bottom: 0 !important;
}

.tooltip-inner {
	    border: solid 1px #ccc;
}

.picc-content{
   background-color: #181818;
   color: white
}
.picc-content > div {
   display:table-cell;
   vertical-align:middle;
   padding:10px;
   border-width: 2px;
   border-bottom: solid black;
   border-right: solid black;
   border-top: solid black;
}

.picc-content > *:first-child {
   border-left: solid black;
   text-align: middle;
}
